.content {
    font-family: "Lato", sans-serif;
    text-align: justify;
    line-height: 1.5;
    max-width: 1000px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f8e7d3;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.content--dark-mode {
    color: #eee;
    background: #10162f;
}

.content__container--visible {
    display: block;
}

.content__container--hidden {
    display: none ; 
}

