.go-top {
    color: #000000;
    padding: 2px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px 8px 8px 8px / 8px 8px 8px 8px;
    background-color: #aca7ff;
    position: relative;
    box-shadow: -5px 5px 0px 0px #000000;
}

.go-top:hover {
    background-color: #cbc9f9;
}

.go-top:active {
    background-color: #ffffff;
}